<html>
  <head>
    <title>Forgot Password</title>
  </head>
  <body>
    <p>A forgot password action has been triggered on your account.</p>
    <p>
      If you were the one that triggered this action,
      <a href="{{resetLink}}">click here</a> to reset your password. This link
      will expire in {{expiresIn}}
    </p>
    <p>
      If you were not the one that triggered the action, rest easy, your account
      is safe.
    </p>
    <p>
      Cannot click the link above? Copy it below and paste it in your mobile
      browser
    </p>
    <p>{{resetLink}}</p>
  </body>
</html>
